.pro--dashboard--wrapper{ 
    .gap-24{
        gap: 24px;
    }
    .clr--505050{color: #505050;}

    .dash--left{ 
        .card{
            h2{
                font-size: 36px;
                margin-top: auto;
            }
            &.next--app{
                background-color: #0032A0;
                color: #fff;
                .arrow--btn{
                    height: 20px;
                    width: 20px;
                    line-height: 0;
                    mat-icon{
                        height: 20px;
                        font-size: 20px;
                        width: 20px;
                    }
                }
                h1{
                    font-size: 20px;
                    margin: 15px 0;
                }
                .btn-primary{
                    background: #fff;
                    color: #0032A0;
                    border-radius: 8px;
                    min-height: 42px;
                }
            } 
        }
    }

    .profile-round{
        width: 40px;
        height: 40px;
        overflow: hidden;
        margin-right:14px;
        border-radius: 624.9375rem;
        img{
            max-height: 100%;
        }
    }
    .btn{ 
        border-radius: 8px;
        min-height: 42px;
    }
    .sub--card {
        border-radius: 8px;
        border: 1px solid #E7E9EB;
        background: rgba(0, 0, 0, 0.00); 
        margin-bottom: 14px;
        .card--inside{
            padding: 17px;
            .badge{
                min-width: 84px;
            }
        }
        &.app--booked{
            background-color: #F5F8FF;
            .card--inside{
                padding-bottom: 0;
            }
            .ab--strip{
                padding: 2px;
                border-top: 1px solid #E7E9EB;
                background-color: #edf4ff;
                margin-top: 10px;
            }
        }
        .profile-round{
            width: 48px;
            height: 48px;
        }
    } 
}
@media (max-width: 950px) {
    .pro--dashboard--wrapper{ 
        .gap-24{
            gap: 12px;
        } 
        .btn{
            min-height: unset !important;
        } 
        .font-15 {
            font-size: .8rem;
        }
        .dash--left{ 
            .card{
                h1{
                    font-size: 17px !important;
                    margin: 8px 0 !important;
                }
                h2{
                    font-size: 24px; 
                }
            }
        }
    }
}