@use '../abstracts/variables' as v;

body{
    .btn {
        border-radius: 4rem;
        background-color: v.$primary;
        font-weight: 500;
        padding: 0.44rem 1.125rem;
        &.btn-md{
            padding: 0.35rem 1.125rem;
        }
        &.btn-light{
            background-color: #F8F9FA;
        }
        &.btn-secondary{
            color: v.$primary;
            border-color: v.$primary;
            background-color: v.$white;
        }
    }
}
 @media (max-width: 767px) {
    .btn {
        font-size: 0.875rem !important;
        padding: 0.4rem 0.6rem !important;
    } 
 }