.vc--wrapper{
    .back--to{
        font-size: 14px;
        .mat-icon{
            width: 15px;
            height: 15px;
            font-size: 15px;
            margin-right: 8px;
        }
    }
}
