 <h2 mat-dialog-title>
   Update
   <button matIconButton class="close--btn" mat-dialog-close>
     <mat-icon>close_small</mat-icon>
   </button>
 </h2>

 <mat-dialog-content  >
   <form  [formGroup]="form">
     <div class="row">
        <div class="col-12 mb-4">
         <label class="form-label">Old Password <span class="text-error">*</span></label>
         <div class="position-relative">
           <input [type]="showoldPassword ? 'text' : 'password'" class="form-control pe-5"
             placeholder="Enter Old Password" formControlName="oldPassword"  maxlength="64">
           <button type="button" mat-icon-button class="icon--password" (click)="toggleOldPassword()">
             <mat-icon fontSet="material-icons-outlined">
               {{ showoldPassword ? 'visibility_off' : 'visibility' }}
             </mat-icon>
           </button>
         </div>
          @if (form.get('oldPassword')?.touched && form.get('oldPassword')?.errors) {
            <div class="font-13 mt-1 text-danger">
              @if (form.get('oldPassword')?.errors?.['required']) {
                {{message.AUTH.OLD_PASSWORD_REQUIRED}}
              }
              @if (form.get('oldPassword')?.errors?.['incorrect']) {
                {{message.AUTH.INVALID_OLD_PASSWORD}}
              }
              
            </div>
          }
       </div>
       <div class="col-12 mb-4">
         <label class="form-label">New Password <span class="text-error">*</span></label>
         <div class="position-relative">
           <input [type]="showNewPassword ? 'text' : 'password'" class="form-control pe-5"
             placeholder="Enter New Password"  formControlName="password"  maxlength="64">
           <button type="button" mat-icon-button class="icon--password" (click)="toggleNewPassword()">
             <mat-icon fontSet="material-icons-outlined">
               {{ showNewPassword ? 'visibility_off' : 'visibility' }}
             </mat-icon>
           </button>
         </div>
         @if (form.get('password')?.touched && form.get('password')?.errors) {
            <div class="font-13 mt-1 text-danger">
              @if (form.get('password')?.errors?.['required']) {
                {{message.AUTH.NEW_PASSWORD_REQUIRED}}
              }
              @else if (form.get('password')?.errors?.['minlength']) {
                {{message.AUTH.PASSWORD_MIN_LENGTH}}
              }
              @else if (form.get('password')?.errors?.['pattern']) {
                {{message.AUTH.PASSWORD_PATTERN}}
              }
              @else if (form.get('password')?.errors?.['sameAsOld']) {
                {{message.PASSWORD_RULES.SAME_AS_OLD}}
              }
            </div>
          }
       </div>
       <div class="col-12 ">
         <label class="form-label">Confirm Password <span class="text-error">*</span></label>
         <div class="position-relative">
           <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control pe-5"
             placeholder="Enter Confirm Password" formControlName="confirmPassword"  maxlength="64">
           <button type="button" mat-icon-button class="icon--password" (click)="toggleConfirmPassword()">
             <mat-icon fontSet="material-icons-outlined">
               {{ showConfirmPassword ? 'visibility_off' : 'visibility' }}
             </mat-icon>
           </button>
         </div>
          @if (form.get('confirmPassword')?.touched && form.get('confirmPassword')?.errors) {
            <div class="font-13 mt-1 text-danger">
              @if (form.get('confirmPassword')?.errors?.['required']) {
                {{message.AUTH.CONFIRM_PASSWORD_REQUIRED}}
              }
               @if (form.get('confirmPassword')?.errors?.['minlength']) {
                {{message.AUTH.PASSWORD_MIN_LENGTH}}
              }
               @if (form.get('confirmPassword')?.errors?.['mismatch']) {
                {{message.AUTH.PASSWORD_MISMATCH}}
              }
            </div>
          }
       </div>
     </div>
   </form>
 </mat-dialog-content>

 <mat-dialog-actions align="end">
   <button type="button" class="btn btn-primary"  [disabled]="form.invalid" (click)="submitChangePassword()">Submit</button>
 </mat-dialog-actions>
