.listing--wrapper{
    .sorting--head{
        border-radius: 20px 20px 0 0;
        background-color: #fff;
        padding: 24px;
    }
    .material--table{
          height: 400px;
  overflow: auto;
    }
}