/* Abstracts */
@use 'styles/abstracts/variables';
@use 'styles/abstracts/breakpoints';

/* Base */
@use 'styles/base/typography';
@use 'styles/base/global';

/* Auth */
@use 'styles/components/authentication';

/* Admin Layout */
@use 'styles/components/admin-layout';

/* Button */
@use 'styles/components/buttons';

/* Bootstrap */
@use 'bootstrap/scss/bootstrap';

/* Angular Material */
@use '@angular/material/prebuilt-themes/indigo-pink.css';

/* Date and Time Picker */
@use "@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";



.skeleton-login {
  height: 100vh;
  background: #f4f4f4;
}
 
.route--wrapper > * {
  animation: authFadeSlide 1000ms ease-out;
}

@keyframes authFadeSlide {
  from {
    opacity: 0;
    transform: translateX(12px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
