@use '../abstracts/variables' as v;  

html, body {
  height: 100%;
  margin: 0;
}

a { 
  text-decoration: none !important;
  cursor: pointer;
} 

body{

  .text-primary { color: v.$primary !important; }
  .text-secondary{ color: v.$secondary !important;}
  .text-danger, .text-error { color: v.$error !important;}

  // Angular Material 
  .mat-internal-form-field>label{
    font-family: v.$font-family-base !important; 
    margin-top: 10px;
    font-size: 16px; 
  }
  .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, 
  .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background{
      border-color: #0032A0 !important;
      background-color: #0032A0 !important;
  }

  // Form Controls
  .form-control {
    border-radius: 4rem;
    padding: 0.44rem 0.875rem;
    border-color: v.$grey !important ;
    &:focus{
      box-shadow: none;
    }
  }

  // Loader
  .loader-dialog{
    .mat-mdc-dialog-surface{
      box-shadow: none;
      background-color: transparent;
    }
  }

  .mat-mdc-checkbox{
    .mat-internal-form-field{
      align-items: flex-start;
    }
  }
}  

 @media (max-width: 767px) {
  ::placeholder,
  .form-control,
  .form-label{
    font-size: 0.875rem !important;
  } 
 }